 <!-- Database URL tech(mysql-postgres)://username:password@db_domain/db_name -->
 DATABASE_URL=String
 <!-- Port by default is 8080 but commonly is neede to be passed as the env for most hosts -->
 PORT=Number
 <!-- Domain will be used to make self calls to the websocket server -->
 DOMAIN=String
 <!-- The string to encrypt tokens for authentication -->
 JWT_KEY=String